.Navbar {
    font-family: 'Pretendard';
}
.logo-navbar {
    width: 30px;
}
.Navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 48px 0px 0px 30px;
    gap: 1310px;
}

.Navbar-title {
    font-size: 24px;
    font-weight: 700;
    color: #020913e8;
    align-items: center;
    text-decoration: none;
    display: flex;
}
.Navbar-title-text {
    margin-left: 8px;
    width: 150px;
}
.Navbar-links-timeline {
    display: flex;
    align-items: center;
    gap: 32px;
}

.Navbar-links-timeline a {
    text-decoration: none;
    font-size: 19px;
    color: #333d4b;
    cursor: pointer;
    font-weight: 600;

    padding: 8px 8px; /* ✅ 영역 넓혀줌 */
    border-radius: 8px; /* ✅ 둥글게 */
    transition: background-color 0.2s ease;
    display: inline-block; /* ✅ 패딩 적용 가능하게 */
}

.dropdown {
    position: relative;
    color: #170f49;
}

.dropdown-toggle-navbar {
    font-family: 'Pretendard';
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #170f49;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    padding: 0;
    font-weight: 500;
}

.dropdown-icon-navbar {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.dropdown-toggle-navbar.open .dropdown-icon-navbar {
    transform: rotate(-180deg);
}

.dropdown-menu {
    position: absolute;
    top: 140%;
    left: -8%;
    background-color: white;
    border-radius: 12px;
    width: 88px;
    z-index: 100;
    box-shadow: rgba(23, 23, 28, 0.05) 0px 2px 10px, rgba(23, 23, 28, 0.05) 0px 2px 60px;
}

.dropdown-item {
    font-size: 16px;
    padding: 9px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #0220470d;
    border-radius: 12px;
}

.Navbar-links-timeline a:hover {
    background-color: #f0f0f0; /* hover 시 연한 회색 */
}

.Navbar-links-timeline a.active {
    background-color: #d0d0d0; /* 활성화된 메뉴는 더 진한 회색 */
    font-weight: bold;
}
